<launch>
    <!-- Launch STDR and three robots-->
    <include file="$(find tests)/launch/stdr.launch">
        <!-- <arg name="map" value="empty_space.yaml"/> -->
        <!-- <arg name="map" value="multiple_obstacle.yaml"/> -->
        <!-- <arg name="map" value="one_obstacle.yaml"/> -->
        <!-- <arg name="map" value="circle.yaml"/> -->
        <arg name="map" value="multiple_circle.yaml"/>
    </include>

    <node pkg="stdr_robot" type="robot_handler" name="robot0_spawn" args="add $(find stdr_resources)/resources/robots/pandora_robot.yaml 1 2 0" />
    <node pkg="stdr_robot" type="robot_handler" name="robot1_spawn" args="add $(find stdr_resources)/resources/robots/pandora_robot.yaml 1 2 0" />
    <node pkg="stdr_robot" type="robot_handler" name="robot2_spawn" args="add $(find stdr_resources)/resources/robots/pandora_robot.yaml 1 2 0" />
    <node pkg="stdr_robot" type="robot_handler" name="robot3_spawn" args="add $(find stdr_resources)/resources/robots/pandora_robot.yaml 1 2 0" />
    <node pkg="stdr_robot" type="robot_handler" name="robot4_spawn" args="add $(find stdr_resources)/resources/robots/pandora_robot.yaml 1 2 0" />

    
    <include file="$(find tests)/launch/robot.launch">
        <arg name="frame_id" value="/robot0"/>
        <arg name="threshhold" value="1"/>
    </include>
    
    <include file="$(find tests)/launch/robot.launch">
        <arg name="frame_id" value="/robot1"/>
        <arg name="threshhold" value="0.5"/>
    </include>

    <include file="$(find tests)/launch/robot.launch">
        <arg name="frame_id" value="/robot2"/>
        <arg name="threshhold" value="0.25"/>
    </include>

    <include file="$(find tests)/launch/robot.launch">
        <arg name="frame_id" value="/robot3"/>
        <arg name="threshhold" value="0.125"/>
    </include>

    <include file="$(find tests)/launch/robot.launch">
        <arg name="frame_id" value="/robot4"/>
        <arg name="threshhold" value="0.0625"/>
    </include>

    <!-- Launch rviz -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find tests)/config/robots.rviz"/>
  </launch>
  