<launch>
  <!-- Launch STDR -->
  <include file="$(find tests)/launch/stdr.launch">
    <arg name="map" value="multiple_circle.yaml"/>
    <!-- <arg name="map" value="circle.yaml"/> -->
    <!-- <arg name="map" value="multiple_obstacle.yaml"/> -->
  </include>

  <node pkg="stdr_robot" type="robot_handler" name="robot0_spawn" args="add $(find stdr_resources)/resources/robots/pandora_robot.yaml 1 2 0" />

  <!-- laser to grid -->
  <node name="local_grid" pkg="test" type="laser_to_grid_node.py" output="screen">
    <param name="frame_id" value="/robot0"/>
  </node>

  <node name="vfh" pkg="tests" type="vfh_ros.py" output="screen">
    <param name="frame_id" value="/robot0"/>
    <param name="threshhold" value="0.5"/>
  </node>

  <!-- Metric -->
  <!-- <node name="metric" pkg="tests" type="metrics.py" output="screen">
    <param name="odom" value="/robot0/odom"/>
  </node> -->

  <!-- Trajectory Visualisation -->
  <!-- <node name="trajectory_visualisation" pkg="tests" type="trajectory.py" output="screen">
    <param name="odom" value="/robot0/odom"/>
    <param name="frame_id" value="/map"/>
  </node>
   -->
  <!-- Launch rviz -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find test)/config/config.rviz"/>
</launch>
