<launch>
  <!-- Launch STDR -->
  <include file="$(find stdr_launchers)/launch/server_with_map_and_gui_plus_robot.launch"/>

  <!-- Publish a static transform between /map and /odom frames -->
  <!-- <node pkg="tf2_ros" type="static_transform_publisher" name="map_to_odom_broadcaster" args="0 0 0 0 0 0 /odom robot0/odom"/> -->

  <!-- Launch move_base -->
  <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
    <rosparam file="$(find test)/params/global_costmap_params.yaml" command="load"/>
    <rosparam file="$(find test)/params/local_costmap_params.yaml" command="load"/>
    <!-- <rosparam file="$(find test)/params/move_base_params.yaml" command="load" /> -->
    <remap from="cmd_vel" to="/robot0/cmd_vel" />
    <!-- <remap from="odom" to="/robot0/odom" /> -->
    <param name="base_local_planner" value="vfh_local_planner/VFHPlannerROS"/>
  </node>

  <!-- Launch rviz -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find test)/config/config.rviz"/>
</launch>
