<launch>
  <!-- Launch STDR -->
  <include file="$(find stdr_launchers)/launch/server_with_map_and_gui_plus_robot.launch"/>

  <!-- laser to grid -->
  <node name="local_grid" pkg="test" type="laser_to_grid_node.py" output="screen"/>
  
  <!-- <node name="noisy_odom" pkg="test" type="noisy_odom.py" output="screen">
    <param name="odom_topic_name" value="/robot0/odom"/>
    <param name="noisy_odom_topic_name" value="/robot0/noisy_odom"/>
  </node> -->

  <node name="vfh"        pkg="test" type="vfh.py"                output="screen">
    <param name="local_grid_topic_name" value="/local_grid/local_grid"/>
  </node>

  <!-- Launch dynamic reconfigure -->
  <!-- <node name="DynamicParamGUI" pkg="rqt_reconfigure" type="rqt_reconfigure" output="screen"/> -->

  <!-- Launch rviz -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find test)/config/config.rviz"/>
</launch>
